<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.pms.mapper.SellMapper">
    <update id="updateRepertory">
        update
			sell
		set
			repertory = #{repertory} - 1
		where id = #{id}

    </update>


    <select id="findAllSell" resultType="com.dj.pms.pojo.Sell">
        SELECT
            s.id,
            s.sell_name,
            s.img,
            s.sell_price,
            s.colour,
            s.maintain_project,
            s.is_del,
            s.repertory,
            b.base_name AS projectShow
        FROM
            sell s
        LEFT JOIN basic_data b ON s.maintain_project = b.id
        WHERE b.is_del = 1
        <if test="isDel != null and isDel != 2">
            and s.is_del = #{isDel}
        </if>
        <if test="sellName != null and sellName != '' ">
            and s.sell_name = #{sellName}
        </if>
        ORDER BY s.id DESC


    </select>
    <select id="findAllSellUser" resultType="com.dj.pms.pojo.Sell">
        SELECT
            s.id,
            s.sell_name,
            s.img,
            s.sell_price,
            s.colour,
            s.maintain_project,
            s.is_del,
            s.repertory,
            b.base_name AS projectShow,
            u.user_name AS userName,
            su.count as count
        FROM
            sell_user su
        LEFT JOIN sell s ON su.sell_id = s.id
        LEFT JOIN basic_data b ON s.maintain_project = b.id
        LEFT JOIN user u ON u.id = su.user_id
        <where>
            su.is_del = 1
            <if test="roleId == 1">
              and su.user_id = #{userId}
            </if>
        </where>


    </select>
</mapper>