<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.pms.mapper.SellMapper">


    <select id="findAllSell" resultType="com.dj.pms.pojo.Sell">
        SELECT
            s.id,
            s.sell_name,
            s.img,
            s.sell_price,
            s.colour,
            s.maintain_project,
            s.is_del,
            b.base_name AS projectShow
        FROM
            sell s
        LEFT JOIN basic_data b ON s.maintain_project = b.id
        WHERE b.is_del = 1
        <if test="isDel != null and isDel != 2">
            and s.is_del = #{isDel}
        </if>
        ORDER BY s.id DESC


    </select>
</mapper>